<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Edit ${users[0].firstName}</title>
</head>
<body>
<form action="/edit" method="post" style="width:40vw;margin:auto;margin-top:14vh;">
    <div class="form-group">
        <label for="first-name">First name:</label>
        <input type="text" id="first-name" class="form-control" name="First-name" value="${users[0].firstName}">
    </div>
    <div class="form-group">
        <label for="last-name">Last name:</label>
        <input type="text" id="last-name" class="form-control" name="Last-name" value="${users[0].lastName}">
    </div>
    <div class="form-group">
        <label for="salary">Salary:</label>
        <input type="text" id="salary" class="form-control" name="Salary" value="${users[0].salary}" pattern="[0-9]+">
    </div>
    <button type="submit" class="btn btn-primary" name="id" value="${users[0].id}">Save changes</button>
</form>
<a href="/users" style="border-radius:2px;margin-left:30vw;margin-top:20px;" class="btn btn-link btn-lg active"
   role="button" aria-pressed="true">/users</a>
</body>
</html>